.nav-color{
    background-color: #e65100!important;
}
.reg-color{
    background-color: #f7e4e1;
}
.primary-background{
    background-color: #e65100;
}
.login-background{
    background-color: #EBE0DC;
}

.admin .card{
    border: 1px solid #e65100;
}

.admin .card:hover{
    background: #ff8f00;
    cursor:pointer;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #e65100;
  border-color: #e65100;
}